html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, td, a, div, .p {
    font-family: arial, sans-serif
}

.container {
    width: 100%;
}

.gwt-Button {
    border: none;
    background-color: #2980b9;
    padding: 10px 20px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 18px;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}

div.show {
    display: block;
    animation: show .6s;
    -webkit-animation: show .6s;
    opacity: 1;
}

div.hide {
    display: block;
    animation: hide .6s;
    -webkit-animation: hide .6s;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        top: 0;
    }
    100% {
        opacity: 1;
        top: 20px;
    }
}

@-webkit-keyframes show {
    0% {
        opacity: 0;
        top: 0;
    }
    100% {
        opacity: 1;
        top: 20px;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
        top: 20px;
    }
    100% {
        opacity: 0;
        top: 0px;
    }
}

@-webkit-keyframes hide {
    0% {
        opacity: 1;
        top: 20px;
    }
    100% {
        opacity: 0;
        top: 0px;
    }
}

.preloader {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 20px;
}

.preloader span{
    width:20px;
    height:20px;
    position:absolute;
    background:red;
    display:block;
    animation: preloader_6_span 1s infinite linear;
    -webkit-animation: preloader_6_span 1s infinite linear;
}
span.first {
    background:#2ecc71;

}
span.second {
    left:22px;
    background:#9b59b6;
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
}
span.third {
    top:22px;
    background:#3498db;
    animation-delay: .4s;
    -webkit-animation-delay: .4s;
}
span.fourth {
    top:22px;
    left:22px;
    background:#f1c40f;
    animation-delay: .6s;
    -webkit-animation-delay: .6s;
}
@keyframes preloader_6_span {
    0% { transform:scale(1); }
    50% { transform:scale(0.5); }
    100% { transform:scale(1); }
}
@-webkit-keyframes preloader_6_span {
    0% { transform:scale(1); }
    50% { transform:scale(0.5); }
    100% { transform:scale(1); }
}